<h2>Book From Database</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>isbn</th>
            <th>name</th>
            <th>price</th>
            <th width="220px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (BookModel b in ViewBag.books)
        {
            <tr>
                <td>@b.Id</td>
                <td>@b.Isbn</td>
                <td>@b.Name</td>
                <td>@b.Price</td>
                <td class="text-center">
                    <a class="btn btn-primary" href="/Crud/View/@b.Id">View</a>
                    <a class="btn btn-success" href="/Crud/Edit/@b.Id">Edit</a>
                    <a class="btn btn-danger" href="/Crud/Delete/@b.Id" onclick="return confirm('Delete')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>