@{
    BookModel book = @ViewBag.book;
}

<div>
    <label>isbn</label>
    @book.Isbn
</div>
<div>
    <label>name</label>
    @book.Name
</div>
<div>
    <label>price</label>
    @book.Price
</div>
