@page "/addNumber"
@rendermode InteractiveServer

<PageTitle>Add Number</PageTitle>

<h3>Add Number</h3>

<div>
    <label>Number 1</label>
    <input class="form-control" @bind="number1" />
</div>

<div>
    <label>Number 2</label>
    <input class="form-control" @bind="number2" />
</div>

<div>
    <label>Result is @result</label>
</div>

<button class="btn btn-primary" @onclick="AddNum">Add Now</button>

@code {
    private int result;
    private int number1;
    private int number2;

    private void AddNum()
    {
        result = number1 + number2;
        debugValue();
    }

    private void debugValue() {
        Console.WriteLine("number1 = {0}", number1);
        Console.WriteLine("number2 = {0}", number2);
    }
}